.DS_Store
AlePlace.xcodeproj/project.xcworkspace/xcshareddata/AlePlace.xccheckout
AlePlace.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
AlePlace/.DS_Store
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace-project-headers.hmap
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace.hmap
