.DS_Store
AlePlace.xcodeproj/project.xcworkspace/xcshareddata/AlePlace.xccheckout
AlePlace.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
AlePlace/.DS_Store
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace-project-headers.hmap
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace.hmap
AlePlace.xcodeproj/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace.dep
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/AlePlace~.dep
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APAleViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APAppDelegate.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APAppDelegate.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APCallAPI.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailEventViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailPlaceViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailPlaceViewController.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailPlaceViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailStadiumViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APDetailStadiumViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APEventCellTableViewCell.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APEventCellTableViewCell.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APEventTableViewCell.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHeader.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHeader.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHeader.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHomeViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHomeViewController.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APHomeViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APMoreViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APMoreViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APParserData.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APParserData.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlace.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlace.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlace.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceDataListViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceDataListViewController.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceDataListViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceMapViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceMapViewController.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceMapViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APPlaceViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APShowFullMapViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APShowFullMapViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APStadiumTableViewCell.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APStadiumViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APStadiumViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APTakecareViewController.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/APTakecareViewController.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/AlePlace.LinkFileList
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/AlePlace_dependency_info.dat
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/FMUtils.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/FMUtils.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/assetcatalog_dependencies.txt
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/build-state.dat
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/build-state~.dat
build/Debug-iphonesimulator/AlePlace.app.dSYM/Contents/Resources/DWARF/AlePlace
build/Debug-iphonesimulator/AlePlace.app/Ale-button-hover.png
build/Debug-iphonesimulator/AlePlace.app/Ale-button.png
build/Debug-iphonesimulator/AlePlace.app/AlePlace
build/Debug-iphonesimulator/AlePlace.app/Back-button-.png
build/Debug-iphonesimulator/AlePlace.app/Eat&-drink_map.png
build/Debug-iphonesimulator/AlePlace.app/Home-but-hover.png
build/Debug-iphonesimulator/AlePlace.app/Home-but.png
build/Debug-iphonesimulator/AlePlace.app/Hotel_map.png
build/Debug-iphonesimulator/AlePlace.app/Image.png
build/Debug-iphonesimulator/AlePlace.app/Info.plist
build/Debug-iphonesimulator/AlePlace.app/Loading.jpg
build/Debug-iphonesimulator/AlePlace.app/Location.png
build/Debug-iphonesimulator/AlePlace.app/More.png
build/Debug-iphonesimulator/AlePlace.app/Places-but.png
build/Debug-iphonesimulator/AlePlace.app/Places-icon-hover.png
build/Debug-iphonesimulator/AlePlace.app/Police.png
build/Debug-iphonesimulator/AlePlace.app/Restaurant_map.png
build/Debug-iphonesimulator/AlePlace.app/See_map.png
build/Debug-iphonesimulator/AlePlace.app/Shopping_map.png
build/Debug-iphonesimulator/AlePlace.app/Takecare-but-hover.png
build/Debug-iphonesimulator/AlePlace.app/Takecare-but.png
build/Debug-iphonesimulator/AlePlace.app/Thing-to-do_map.png
build/Debug-iphonesimulator/AlePlace.app/Title.png
build/Debug-iphonesimulator/AlePlace.app/Tour_map.png
build/Debug-iphonesimulator/AlePlace.app/app-icon.png
build/Debug-iphonesimulator/AlePlace.app/ball.png
build/Debug-iphonesimulator/AlePlace.app/hospital.png
build/Debug-iphonesimulator/AlePlace.app/hospital_map.png
build/Debug-iphonesimulator/AlePlace.app/police_map.png
build/Debug-iphonesimulator/AlePlace.app/round.png
build/Debug-iphonesimulator/AlePlace.app/shadow.png
build/Debug-iphonesimulator/AlePlace.app/stadium_map.png
build/Debug-iphonesimulator/AlePlace.app/star.png
build/Debug-iphonesimulator/AlePlace.app/tag.png
build/Debug-iphonesimulator/AlePlace.app/tour.png
build/Debug-iphonesimulator/AlePlace.app/transport.png
build/Debug-iphonesimulator/AlePlace.app/transport_map.png
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/TTTAttributedLabel.d
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/TTTAttributedLabel.dia
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/TTTAttributedLabel.o
build/AlePlace.build/Debug-iphonesimulator/AlePlace.build/Objects-normal/i386/main.d
build/Debug-iphonesimulator/AlePlace.app/APDetailPlaceViewController.nib/objects.nib
build/Debug-iphonesimulator/AlePlace.app/APDetailPlaceViewController.nib/runtime.nib
build/Debug-iphonesimulator/AlePlace.app/APLaunchImageViewController.nib/objects.nib
build/Debug-iphonesimulator/AlePlace.app/APLaunchImageViewController.nib/runtime.nib
build/Debug-iphonesimulator/AlePlace.app/APMoreViewController.nib/objects.nib
build/Debug-iphonesimulator/AlePlace.app/APMoreViewController.nib/runtime.nib
build/Debug-iphonesimulator/AlePlace.app/APStadiumTableViewCell.nib/objects.nib
build/Debug-iphonesimulator/AlePlace.app/APStadiumTableViewCell.nib/runtime.nib
